@import "tailwindcss";

:root {
  --background: #010d3c;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-unbounded);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-unbounded), Arial, Helvetica, sans-serif;
}


.text-metal-shine.coral-active {
  background: none;
  -webkit-text-fill-color: #f6423a;
  background-clip: unset;
}

/* === Shine movement === */
@keyframes shineMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}


@keyframes shineMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}


.marquee-container h1:hover {
  -webkit-text-stroke: 1px #f6423a !important;
  color: #f6423a !important;
  transition: all 0.3s ease;
}

.marquee-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
  transition: all 0.3s ease;
}

.marquee-text:hover {
  -webkit-text-stroke: 1px #f6423a;
  color: #f6423a;
}
